<div class="card-header">
  <% if post.user.avatar.attached? %>
    <img src="<%= (url_for(post.user.avatar)) %>" class="objcet-fit-cover rounded-2" style="width: 50px" height="50px" alt="...">
  <% end %>
  <a class="text-black text-decoration-none d-inline-block align-top" href="/user/<%= post.user.id %>"><%= post.user.username %>
    <% if (Time.now() - post.created_at).ceil < 60 %>
      <small class="d-block text-dark"> <%= (Time.now() - post.created_at).ceil %> <%= t('second') %> </small>
    <% elsif ((Time.now() - post.created_at).ceil / 60) < 60 %>
      <small class="d-block text-dark"> <%= ((Time.now() - post.created_at).ceil / 60)  %> <%= t('minute') %></small>
    <% elsif ((Time.now() - post.created_at).ceil / 3600) < 24 %>
      <small class="d-block text-dark"> <%= ((Time.now() - post.created_at).ceil / 3600)  %> <%= t('hour') %> </small>
    <% elsif ((Time.now() - post.created_at).ceil / 86400) < 30 %>
      <small class="d-block text-dark"> <%= ((Time.now() - post.created_at).ceil / 86400)  %> <%= t('day') %> </small>
    <% elsif ((Time.now() - post.created_at).ceil / 2592000) < 12 %>
      <small class="d-block text-dark"> <%= ((Time.now() - post.created_at).ceil / 2592000)  %> <%= t('month') %></small>
    <% else %>
      <small class="d-block text-dark"> <%= ((Time.now() - post.created_at).ceil / 31104000)  %> <%= t('year') %> </small>
    <% end %>
  </a>
</div>
<% if post.image.attached? %>
  <img src="<%= (url_for(post.image)) %>" height="320px" class="object-fit-cover" alt="...">
<% end %>
<div class="card-body">
  <p class="card-text"><%= post.post_text %></p>
</div>
<div class="card-footer">
  <div class="container">
    <div class="row">
      <form class="col" action="/post/like" method="post">
        <input type="hidden" name="post_id" value="<%= post.id %>">
        <% if post.likes.select {|like| like.user_id == current_user.id}.count == 0 %>
          <button class="btn btn-primary w-100" type="submit">
            <span class="material-symbols-outlined" style="vertical-align: sub">thumb_up</span>
          </button>
        <% else %>
          <button class="btn btn-primary w-100" disabled>
            <span class="material-symbols-outlined" style="vertical-align: sub">thumb_up</span>
          </button>
        <% end %>
      </form>
      <button class="btn btn-primary w-100 col" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= post.id %><%= type %>" aria-expanded="false" aria-controls="collapse<%= post.id %><%= type %>">
        <span class="material-symbols-outlined" style="vertical-align: sub">forum</span>
      </button>
      <form class="col" action="/post/repost" method="post">
        <input type="hidden" name="post_id" value="<%= post.id %>">
        <% if post.reposts.select {|repost| repost.user_id == current_user.id}.count == 0 %>
          <button class="btn btn-primary w-100" type="submit"><span class="material-symbols-outlined" style="vertical-align: sub">share</span></button>
        <% else %>
          <button class="btn btn-primary w-100" disabled><span class="material-symbols-outlined" style="vertical-align: sub">share</span></button>
        <% end %>
      </form>
    </div>
  </div>
</div>
<div class="collapse <%= type == 'comment' ? 'show' : '' %>" id="collapse<%= post.id %><%= type %>">
  <div class="card card-body">
    <form class="mb-2" action="/post/comment" method="post">
      <input type="hidden" name="post_id" value="<%= post.id %>">
      <div class="row">
        <div class="input-group mb-2">
          <textarea required oninvalid="setCustomValidity('<%= t('input_comment_text') %>')" oninput="setCustomValidity('')"
            name="comment_text" type="text" class="form-control" placeholder="<%= t('comment_text') %>"></textarea>
          <button class="btn btn-primary" type="submit"><%= t('add_comment') %></button>
        </div>
      </div>
    </form>
    <% post.comments.each do |comment| %>
      <div class="card card-body mb-1">
        <div class="card-header">
          <% if comment.user.avatar.attached? %>
            <img src="<%= (url_for(comment.user.avatar)) %>" class="objcet-fit-cover rounded-2" style="width: 50px" height="50px" alt="...">
          <% end %>
          <a class="card-text mb-2 text-black text-decoration-none" href="/user/<%= comment.user.id %>"><%= comment.user.username %></a>
        </div>
        <p class="card-text"><%= comment.comment_text %></p>
      </div>
    <% end %>
  </div>
</div>
